@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');
@import url("../../css/modal-cadastro/onePage.css");


:root {
    --body-bg: #201b2c;
    --container-bg: #fff;
    --container-color: #3D3D3D;
    --label-color: #000000;
    --input-bg:rgba(214, 204, 204, 0.32);
    --botao-bg: #395B64;
    --botao-disable: #868181;


}


body {
    background: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    min-height: 100vh;
    font-family: 'Poppins';
}